PORT=3002
NODE_ENV=development

# Supabase credentials
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_DB_SCHEMA=transaction

# Service URLs for Docker environment
TRANSACTION_SERVICE_URL=http://transaction-service:3002

# Common schema for event logs
EVENT_LOG_SCHEMA=app_common