PORT=3000
SUPABASE_JWT_SECRET=your_supabase_jwt_secret
IDENTITY_SERVICE_URL=http://identity-service:3000
TRANSACTION_SERVICE_URL=http://transaction-service:3000
OCR_SERVICE_URL=http://ocr-service:3000
BUDGET_NOTIFICATION_SERVICE_URL=http://budget-notification-service:3000
